body {
    background: rgb(138, 138, 138) !important;
}

ol {
    padding-left: 0em;
}

/*Tekee korteista klikattavia*/

a.card, .card-body, .card, a.card:hover, .card-header {
    text-decoration: none;
    background-color: #646464 !important;
    color: rgb(218, 218, 218);
    padding: 0em;
    width: 100%;
    border: 1em !important;
}

.form-control {
    background: rgb(241, 241, 241) !important;
    color: black;
}

.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item>div {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: #646464;
    color: rgb(218, 218, 218);
    line-height: 1em;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
}

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 0;
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
}